.about{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px;
    border-bottom: #064328 2px solid;
    border-top: #064328 2px solid;
}



.about-info {
    font-size: 25px;
    color: white;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 1.5;
    width: auto;
    height: auto;
}

@media (max-width: 567px) {
    .about {
       display: flex;
       flex-direction: column;
       flex-wrap: nowrap;
       justify-content: center;
       align-items: center;
    }

    img {
        max-width: 100%;
        height: auto;
        }

}